body {
  background-color: #E1DACC;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.imageholder {
  background-image: url("images/puzzle.jpg");
  background-size: 400px 400px;
  height: 100px;
  width: 100px;

  overflow:hidden;
  position:relative;
  background-position: 0px 0px;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.flex-container>img{
	height: 100px;
	width: auto;
	margin: 12px;
  border-width: 5px;
  border-color: blue;
}

.setting{
  justify-content: center;
  text-align: center;
  font-size: 30px;
}

#myButton {
  font-size: 30px;
}

#myText {
  font-size: 30px;
}
